body {
background-color: #2fa8a3;
font-family: Helvetica Neue;
font-size: 20px;
color: #faedb8;
text-align: center;
position: relative;
top: 200px;
background-image: url(image/Chrysanthemum.jpg);
background-size: cover;
}

hr {
margin-left: 510px;
margin-right: 510px;
width: 300px;
position: absolute;
right: -455px;
top: 80px;
}

#box {
margin-top:20px;
height:220px;
width:350px;
position:relative;
top:-30px;
left: 470px;
background:#323232;
padding-top:15px;
padding-left:28px;
padding-right:28px;
padding-bottom:30px;		
}

img {
width: 100px;
height: 100px;
border: 5px solid #323232;
border-radius: 50%;
position:absolute;
top: -70px;
left: 150px;
}


p {
font-size: 20px;
}

.button {
cursor: pointer;
font-weight:bold;
background-color: #faedb8; 
color: black; 
border: 2px solid black;
border-radius:5px 5px 5px 5px;
height: 50px;
}
.button:hover {
background-color: #7c0001;
color: white;
}