h1
{
	text-align: center;
	font-size: 100px;
	
} 

#G
{
	color: blue;
}

#O
{
	color: red;
}
#O1
{
	color: yellow;

}
#L
{
	color: green;
}
#E
{
	color: blue;
}
form{
left:510px;
top: 200px;
position:absolute;
}
